header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #BBB;
}

header > h4 {
  font-family: Roboto-Light, sans-serif;
  font-size: 24px;
  color: #444;
}

@media(max-width: 678px) {
  header > h4 {
    font-size: 20px;
  }
}